body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0B0C10;
}

h1 {
    margin-top: 20px;
}


.page {
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
}
